* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;

    background: transparent;

    font-family: inherit;

    text-decoration: none;
}

/* ol, ul, li {
    list-style:none;
    display:block;
  }
  
  table {
    border-collapse:collapse;
    border-spacing:0
  }
  
  a img {
    border: none
  } */

button,
a {
    cursor: pointer;
    color: inherit
}

textarea {
    resize: none
}

button,
input,
textarea,
select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}

/* end of css reset */

/* font-family: 'EB Garamond', serif; */
/* font-family: 'Montserrat', sans-serif; */

body {
    background-color: #F7E4D4;
}

#root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* width: auto; */
    max-width: 100%;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 48px;
    color: #467745;
    text-align: center;

    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    background-color: white;
}

input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    max-width: 480px;
    height: 64px;
    color: #467745;
    padding-left: 25px;
}
::placeholder {
    color: #467745;
    padding-top: 25px;
    opacity: 0.55;
}

.textarea {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    max-width: 480px;
    height: 120px;
    color: #467745;
}

textarea {
    width: 100%;
    height: 100%;
    background-color: white;
}

textarea::placeholder {
    padding-left: 25px;
    opacity: 0.7;
}

.terms {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    max-width: 480px;
    height: 120px;
    color: #467745;

    margin-bottom: 30px;

    display: flex;
    align-items: center;

    width: auto;

    margin-top: 10px;
}

.terms {
    width: 100%;
    height: 100%;
}

input[type="checkbox"] {
    color: #467745;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border: none;
    outline: none;
    border-radius: 0;
    padding: 10px;
    margin: 10px 0;
}

label {
    margin-left: 20px;
}

a {
    text-decoration: underline;
    text-transform: capitalize;
}


button {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 21px;
    width: 100%;
    max-width: 280px;
    height: 80px;
    background-color: #467745;
    color: #F7E4D4;
    border-radius: 40px;
    letter-spacing: 0.2em;
    
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 520px) {
/*     #form {
        width: 100%;
    } */

    h1 {
        font-size: 36px;
        text-align: left;
    }
/* 
    .subject {
        width: calc(100%-40px)
    }

    input[type="text"] {
        width: 100%;
        height: 100%;
    }

    .textarea {
        max-width: calc(100%-40px)
    }

    textarea {
        width: 100%;
        height: 100%;
    }

    .terms {
        max-width: calc(100%-40px)
    }

    textarea {
        width: 100%;
        height: 100%;
    } */
}
